/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.heigtMaxScrollbar {
  height: 90% !important;
}

div.ng-scrollbar-thumb {
  background-color: #93c47d;
}

.align-right {
  text-align: right;
}
